@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music App</h1>
   
    <p><a href="/Albums/Index" class="btn btn-primary btn-lg">Go to albums &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Let's Browse Some Music</h2>
        <p>
            Here's all the albums listed.
        </p>
        <p><a class="btn btn-default" href="/Albums/Index">See All &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse By Genre</h2>
        <p>Here you can browse by genre.</p>
        <p><a class="btn btn-default" href="/Albums/Genre">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse By Artist</h2>
        <p>Here you can browse by artist.</p>
        <p><a class="btn btn-default" href="/Albums/Artist">Learn more &raquo;</a></p>
    </div>
</div>